/*
    Class:		cis4433
    Author:		Jay King
    Updated:	10-15-2025
    Filename	styles.css
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    text-align:center;
    width:100%;
    background-color:navy;
    margin:0em 0em 0em 0em;
    /* top, right, bottom, left */
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
    display: inline-block;
}
main {
    margin:-1rem 0rem 0rem 0rem;
    /* top, right, bottom, left */
    padding:0.5rem 1rem 1rem 1rem;
    width: 100%;
    background-color: #2fafeb;
}
footer {
    padding: 1rem;
    margin:0em 0em 0em 0em;
    /* top, right, bottom, left */
    padding:0em 0em 0em 0em;
    text-align:center;
    color:#ffffff;
    background-color:navy;
}
.imgLogo {
    width:20%;
    float: left;
}
fieldset {
    text-align: left;
    width: 100%;
    font-size:17px;
    margin:0.0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    border: none;
}
h1 {
    text-align:center;
    margin:0.0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    font-family:Verdana, Geneva, serif;
    font-size:6vw;
    color: white;
}
h2 {
    text-align:center;
    margin:0.3em 0em 1.0em 0em;
    /* top, right, bottom, left */
    padding:0em 0em 0em 0em;
    font-size:2vw;
}
h3 {
    text-align:center;
    margin:0.3em 0em 0.5em 0em;
    padding:0em 0em 0em 0em;
    font-size:20px;
}
.btn1 {
    height:auto;
    border-radius:0.3em;
    box-shadow: .4em .25em .2em #111111;
    display:inline-block;
    font-family: georgia, "times new roman", times, serif;
    font-size:17px;
    font-style:italic;
    padding:0.08em .8em;
    font-weight:bold;
    /* transition-duration: 0.6s; */
    cursor: pointer;
    /* width:90px; */
    text-decoration:none;
    /* text-indent:4px; */
    text-align:center;
    border:medium outset rgb(50,60,140);
    background:rgb(40,60,140);
    color:white;
    /* top, right, bottom, left */
    margin: 0.8em auto 0.8em auto;
    float: center;
}
.btn1:hover {
    border:medium outset grey;
    background:#ddeeff;
    color:black;
}
a{
    text-decoration:none;
    color: white;
}
.imgC {
    width:12%;
    vertical-align: middle;
	padding:0.5em 0em 0em 0em;
	    /* top, right, bottom, left */
    margin: 0em 0em 0em 0.5em;
}
body {
    line-height:1.2;
    font-family:Arial, Helvetica, FreeSans, sans-serif;
    font-size:17px;
    text-align:center;
    margin:0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    background-color:#000011;
    color:black;
}
form {
    text-align: center;
    background-color:#dddddd;
    width: 100%;
    /* top, right, bottom, left */
    padding: 0em 0em 0em 0em;
    margin:0em auto 0em auto;
}
.imgLogo {
    width:20%;
    float: left;
}
input, select {
    font-size: 18px;
}
input:valid {
    background: #DBE9FA;
}
input:invalid, select:invalid {
    border: none;
    background: white;
    /*  Horizontal offset, Vertical offset, Blur radius, color */
    box-shadow: .2em .2em .4em blue;
}
input:focus, textarea:focus {
    border: .1em solid blue;
    background: white;
}
fieldset {
    text-align: left;
    width: 100%;
    font-size:17px;
    margin:0.0em 0em 0em 0em;
    padding:0em 0em 0em 0em;
    border: none;
}
h2 {
    font-weight: bold;
    text-align:center;
    margin:0.3em 0em 0.5em 0em;
    padding:0em 0em 0em 0em;
    font-size:4vw;
}
h3 {
    text-align:center;
    margin:0.3em 0em 0.5em 0em;
    padding:0em 0em 0em 0em;
    font-size:3.5vw;
}
h6 {
    text-align:center;
    font-size:14px;
    font-size:1.5vw
    padding:0em;
    margin:0em;
    color: white;
}
.errorMsg {
    width: 10em;
    display:inline-block;
    padding: 0em 0em 0em 0em;
    /* top, right, bottom, left */
    margin: 0em 0em 0em 2em;
    color: maroon;
    font-weight: bold;
    text-align: left;
}
.submitMsg {
    /* top, right, bottom, left */
    padding: 0em;
    margin: 0.3em 0em .3em 0em;
    /* #C11B17 #7E3517 */
    color: black;
    font-weight: bold;
    text-align: center;
}
label {
    width: 100px;
    display:inline-block;
    padding: 0em 0em 0em 0em;
    /* top, right, bottom, left */
    margin:.5em 0em 0em .5em;
}
.btn1 {
    height:auto;
    border-radius:0.3em;
    box-shadow: .4em .25em .2em #111111;
    display:inline-block;
    font-family: georgia, "times new roman", times, serif;
    font-size:17px;
    font-style:italic;
    padding:0.08em .8em;
    font-weight:bold;
    /* transition-duration: 0.6s; */
    cursor: pointer;
    /* width:90px; */
    text-decoration:none;
    /* text-indent:4px; */
    text-align:center;
    border:medium outset rgb(50,60,140);
    background:rgb(40,60,140);
    color:white;
    /* top, right, bottom, left */
    margin: 0.8em auto 0.8em auto;
    float: center;
}
.btn1:hover {
    border:medium outset grey;
    background:#ddeeff;
    color:black;
}
a{
    text-decoration:none;
    color: white;
}
p {
    text-align:left;
    margin:.5em 0em .5em 0em;
    padding:.5em 1em .5em .1em;
    font-size:17px;
}
@media (min-width:400px) {
    fieldset {
    font-size:17px;
}
label {
    width: 120px;
    margin:.5em 0em 0em .5em;
}
.btn1 {
    font-size:20px;
}
p {
    padding:.5em 4em .5em 4em;
    font-size:20px;
}}
@media (min-width:600px) {
fieldset {
    font-size:20px;
}
main {
    padding:0em 2rem 2rem 2rem;
}
label {
    width: 180px;
    margin:.5em 0em 0em .5em;
}
.btn1 {
    font-size:20px;
}
p {
    padding:.5em 4em .5em 4em;
    font-size:24px;
}}
@media (min-width:800px) {
fieldset {
    font-size:24px;
}
h3 {
    font-size:2.5vw;
}
.btn1 {
    font-size:30px;
}
p {
    padding:.5em 3em .5em 3em;
    font-size:30px;
    }}
@media (min-width:1024px) {
fieldset {
    font-size:30px;
}
main {
    padding:0em 4rem 2rem 4rem;
}
label {
    width: 200px;
    /* top, right, bottom, left */
    margin:.5em 0em 0em 1em;
}
.btn1 {
    font-size:40px;
}
p {
    padding:.5em 4em .5em 4em;
    font-size:34px;
}}
@media (min-width: 1280px) {
fieldset {
    font-size:34px;
}
label {
    width: 220px;
    /* top, right, bottom, left */
    margin:.5em 0em 0em 1em;
}
p {
    padding:.5em 4em .5em 4em;
    font-size:24px;
}}
@media (min-width: 1600px) {
fieldset {
    font-size:24px;
}
label {
    width: 240px;
    /* top, right, bottom, left */
    margin:.5em 0em 0em 1em;
}
p {
    padding:.5em 4em .5em 4em;
    font-size:24px;
}}