/*
    Class:		cis4433
    Author:		Jay King
    Created:	11-20-2025
    Filename	table.css
*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
header {
    text-align:center;
    width:100%;
    background-color:blue;
    margin:0em 0em 0em 0em;
    /* top, right, bottom, left */
    padding:0.5rem 0.5rem 0.5rem 0.5rem;
	display: flex;
	position: sticky;
    top: 0;
}
.column-left {
	flex: 15%;
	padding: 0px;
}
.column-center {
	flex: 70%;
	padding: 0px;
}
.column-right {
	flex: 15%;
	padding: 0px;
}
.img-logo {
    width:90%;
	vertical-align: middle;
}
.img-c {
    width:50%;
    vertical-align: middle;
	padding:0em 0em 0em 0em;
	/* top, right, bottom, left */
    margin: 0em 0em 0em 0em;
}
table {
    width: 100%;
    border-collapse: collapse; /* Optional: for cleaner borders */
    /* max-height is calculated based on the parent (.container) height */
    max-height: 100%;
    display: block; /* May be necessary for max-height and overflow to work as expected on the table */
    margin: 15px 0;
    /* Fluid font size: scales dynamically with the viewport width */
    font-size: 2.5vw;
}
.table-container {
	overflow-y: auto; /* Adds a vertical scroll bar for the body */
	overflow-x: auto; /* Adds horizontal scroll if needed */
	display: flex;
	justify-content: center; /* Centers horizontally */
	align-items: top;     /* Center or top vertically */
	height: 100vh;           /* centers in the full viewport height */
}
th, td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
th {
	/* Optional: Make the header sticky so it stays visible during vertical scroll
    position: sticky;
    top: 4.6vw; */
    background-color: #f2f2f2; /* Add a background color so content doesn't show through */
    z-index: 10; /* Ensures header is above scrolling content */
}
tr:nth-child(even), select option:nth-child(even) {
	background-color: #F0FFF0;
}
tr:nth-child(odd), select option:nth-child(odd) {
	background-color: #CFECEC;
}
tr:hover, select option:hover {
	background-color: #00FFFF;
	cursor: pointer;
}
.right-align {
	text-align: right;
}
.btn2 {
	display:block;
	font-size: 2.5vw;
	padding-top: 1.5vh;
	padding-bottom: 1.5vh;
	width:28vw;
	background-color: #2840a0;
	color: #fff;
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 700;
	box-shadow: .18vw .10vw .09vw #111111;
	color: white; /* White text for contrast */
	margin: 1.2vw auto 0.4vw auto;
	border:medium outset rgb(50,60,140);
	border-radius:1vw;
	cursor: pointer;
}
.btn2:hover,
.btn2:focus {
	color: black; /* black text for contrast */	
	background-color: #007BFF; /* Primary Blue */
	background-color:LightSkyBlue;
	background-color: #8EEBEC; /* Blue Lagoon */
}
.select-course {
	width: clamp(10rem, 80vw, 29rem);
}
.label-major {
    margin-bottom: 0.5vh;
    width: 60vw;
    text-align: center;
    display:inline-block;
}
.select-major {
	width: 50vw;
	margin-left: 1vw;
}
p {
	min-height: clamp(1.5rem,4.5vw,5rem);
	text-align: left;
	margin:0 0 0 24vw;
    /* top, right, bottom, left */
}
#indexForm p {
	text-align: left;
	margin:0 0 0 clamp(8rem,3vw,24rem);
    min-height: 12vh;
}
.error-msg {
	display:block;
    padding: 0;
	margin:0;
    color: maroon;
    font-weight: 600;
    text-align: left;
	font-size: clamp(1rem,3.8vw,4rem);
}
#indexForm .error-msg {
	display:block;
    padding: 0;
	margin: 0 auto 0 auto;
    color: maroon;
    font-weight: 600;
    text-align: left;
	font-size: clamp(1rem,3.8vw,2rem);
}
.confirm {
    text-align: center;
    background-color: #f3f3f3;
    width: 70%;
    /* top, right, bottom, left */
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    margin:5vh auto 10vh auto;
}
a {
    text-decoration:none;
    color: white;
}
h1 {
	/* Centers the text horizontally within its own flex cell */
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, serif; /* Thomas change */
    font-size:6.5vw;
    color: white;
	box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.15); /* soft shadow */
}
h2 {
    text-align:center;
    padding:0.3vw 0vw 1.0vw 0vw;
    /* top, right, bottom, left */
    margin:0;
    font-size:5vw;
    /* Following changed by Thomas */
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 700;
    color: #0e2a47;
}
h3 {
    text-align:center;
    margin:0.3vw 0vw 0.5vw 0vw;
    padding:0;
    font-size:4vw;
    /* Following changed by Thomas */
    font-family: "Segoe UI", Arial, sans-serif;
    color: #0e2a47;
}
h5 {
    text-align:center;
    margin:0.3vw 0 0.5vw 0;
    padding:0;
	font-weight: normal;
    font-size:2.5vw;
}
h6 {
    text-align:center;
	/* (minimum size, preferred size using vw, maximum size)*/
	font-size: clamp(0.9rem, 1.5vw, 2rem); 
    padding:0;
    margin:0;
    color: white;
	background-color:blue;
}
footer {
    padding: 1rem;
    margin:0;
    /* top, right, bottom, left */
    padding:0;
    text-align:center;
    color:#ffffff;
    background-color:blue;
}